ZEPHYR_WEATHER_STATION_MODULE_DIR=/__w/weather-station/weather-station
ZEPHYR_CMSIS_6_MODULE_DIR=/__w/weather-station/modules/hal/cmsis_6
ZEPHYR_HAL_NORDIC_MODULE_DIR=/__w/weather-station/modules/hal/nordic
ZEPHYR_HAL_NXP_MODULE_DIR=/__w/weather-station/modules/hal/nxp
ZEPHYR_HAL_ST_MODULE_DIR=/__w/weather-station/modules/hal/st
ZEPHYR_HAL_STM32_MODULE_DIR=/__w/weather-station/modules/hal/stm32
ZEPHYR_LORAMAC_NODE_MODULE_DIR=/__w/weather-station/modules/lib/loramac-node
ZEPHYR_LVGL_MODULE_DIR=/__w/weather-station/modules/lib/gui/lvgl
ZEPHYR_MBEDTLS_MODULE_DIR=/__w/weather-station/modules/crypto/mbedtls
ZEPHYR_MCUBOOT_MODULE_DIR=/__w/weather-station/bootloader/mcuboot
ZEPHYR_NANOPB_MODULE_DIR=/__w/weather-station/modules/lib/nanopb
ZEPHYR_SEGGER_MODULE_DIR=/__w/weather-station/modules/debug/segger
ZEPHYR_TF_PSA_CRYPTO_MODULE_DIR=/__w/weather-station/modules/crypto/tf-psa-crypto
