/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Gateway DT overlay for native_sim/native/64.
 *
 * Defines six fake sensors:
 *   - Two indoor sensors (living room): temperature + humidity
 *   - Two outdoor sensors: temperature + humidity
 *   - One CO2 sensor
 *   - One VOC sensor
 *
 * Sensor UIDs are assigned at build time via Kconfig:
 *   CONFIG_FAKE_TEMPERATURE_UID_BASE (default 0x0001)
 *   CONFIG_FAKE_HUMIDITY_UID_BASE (default 0x0003)
 *   CONFIG_FAKE_CO2_UID_BASE (default 0x0005)
 *   CONFIG_FAKE_VOC_UID_BASE (default 0x0006)
 *
 * Also configures the SDL display controller for the LVGL graphical window.
 */

/ {
	chosen {
		zephyr,display = &sdl_dc;
	};

	fake_temp_indoor: fake-temp-indoor {
		compatible = "fake,temperature";
		initial-value-mdegc = <21000>;
		status = "okay";
	};

	fake_hum_indoor: fake-hum-indoor {
		compatible = "fake,humidity";
		initial-value-mpct = <50000>;
		status = "okay";
	};

	fake_temp_outdoor: fake-temp-outdoor {
		compatible = "fake,temperature";
		initial-value-mdegc = <4000>;
		status = "okay";
	};

	fake_hum_outdoor: fake-hum-outdoor {
		compatible = "fake,humidity";
		initial-value-mpct = <30000>;
		status = "okay";
	};

	fake_co2_indoor: fake-co2-indoor {
		compatible = "fake,co2";
		initial-value-mppm = <800000>;
		status = "okay";
	};

	fake_voc_indoor: fake-voc-indoor {
		compatible = "fake,voc";
		initial-value-miaq = <25000>;
		status = "okay";
	};

	lora0: fake-lora-radio {
		compatible = "fake,lora-radio";
		label = "lora0";
		status = "okay";
	};
};

&sdl_dc {
	height = <240>;
	width  = <320>;
};
